<h1>Survey</h1>
<p>Select the answer that expresses how you feel about each statement.</p>
<ol>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Bacon is delicious.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I like Star Wars.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I could talk about basketball all day.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Other people are generally assholes.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I'm an asshole.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Social interaction should only occur after finishing the first round.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I prefer my friends with a side of benefits.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Video games, not just for kids.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I need a workout buddy.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label for="exampleFormControlSelect1">I'm only here because Craigslist Personals got shut down.</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option value="">--</option>
                <option>1 Strongly Disagree</option>
                <option>2 Eh, not really.</option>
                <option>3 Ambivalent or indifferent.</option>
                <option>4 Sure, why not.</option>
                <option>5 Strongly Agree</option>
            </select>
        </div>
    </li>
</ol>
<button class="btn border-dark ml-2 mt-2 mb-2">Submit</button>
<footer class="mt-3"></footer>

<script type="text/javascript">

</script>